#coloredButtons > div > button {
  font-weight: bold;
  font-size: 1em;
  color: rgb(238, 238, 238);
  border-radius: 5px;
  width: 101.6%;
  height: 40px;
  border-style: none;
}

#coloredButtons > div {
  margin-bottom: 10px;
}

#generatePDF {
  background-color: rgb(27, 161, 72);
}

#generatePDF:hover {
  background-color: rgb(10, 144, 55);
}

#loadExample {
  background-color: rgb(194, 92, 14);
}

#loadExample:hover {
  background-color: rgb(177, 75, 13);
}

#reset {
  background-color: rgb(179, 33, 30);
}

#reset:hover {
  background-color: rgb(162, 16, 13);
}
