#education-resume {
  margin: 25px;
}

.educationField {
  display: flex;
  gap: 50px;
}

.dates,
.degrees > p:first-child {
  font-weight: bold;
}

.dates {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 130px;
}

.degrees {
  width: 365px;
}

.companies > p {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
