#experience-resume {
  margin: 25px;
}

.experienceField {
  display: flex;
  gap: 50px;
}

.dates,
.companies > p:first-child {
  font-weight: bold;
}

.dates {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 130px;
}

.companies {
  width: 365px;
}

.companies > p {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
