#side {
  background-color: rgb(221, 221, 221);
  overflow: hidden;
  width: 52.5mm;
}

#photoWrap {
  margin: 15px;
}

#photoWrap > img {
  width: 168px;
  height: 217px;
}

#personalDetails > .sectionTitles {
  margin-left: 15px;
}

#contact {
  margin: 15px;
}

#contact > p {
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#contact > p:nth-child(2n - 1) {
  font-weight: 700;
}
